
.documentation__header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.documentation__header p {
  font-size: 16px;
  line-height: 2;
}

.documentation__title {
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* 96px - 48px*/
  letter-spacing: 10px;
  font-family: var(--font-accent);
  line-height: 80px;
  padding-bottom: 25px;
}

.documentation__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}

.documentation__card {
  display: block;
  position: relative;
  max-width: 260px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
}

.documentation__card::before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  transition: all 0.2s ease-in;
}

.documentation__card-name {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in;
}

.documentation__card:hover .documentation__card-name {
  opacity: 1;
  top: 50%;
}

.documentation__card:hover::before {
  opacity: 1;
}

.documentation__card img {
  width: 100%;
  height: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .documentation__card-name {
    opacity: 1;
    top: 50%;
  }
  .documentation__card::before {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .documentation__card-name {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .documentation__card {
    border-radius: 10px;
  }
}
