:root {
  --accent: #FFD479;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-accent: #eac880;

  --color-gray: #808080;

  --border: var(--border-width-m) solid var(--color-accent);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Manrope';
  --font-family-bold: 'Manrope-Bold';
  --font-accent: 'Bebas Neue';
  --font-roboto: 'Roboto';


  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
