.ruMC p {
  text-indent: 25px;
}

.ruMC table {
  max-width: 80%;
}

.ruMC--img {
  background: #abbbc6;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  max-width: 60%;
}

.ruMC--img__text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 22px;
}

.ruMC--table {
  margin: 0 auto;
  border: 3px solid #fff;
  margin-top: 50px;
  margin-bottom: 15px;
  box-shadow: 15px 15px 0 0 #ed6742;
}

td {
  border: 1px solid #fff;
}

th {
  border: 3px solid #fff;
}

.ruMC--table__title,
.ruMC--table__cell {
  padding: 5px 10px;
}

.ruMC--table__note {
  margin-left: 180px;
  margin-right: 180px;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
}

.ruMC--table__note--title {
  padding-right: 15px;
}

.ruMC--list__item {
  margin-left: 50px;
  list-style-type: circle;
}

.ruMC--list__item-2 {
  margin-left: 100px;
  list-style-type: square;
}
.ruMC--list {
  margin: 10px auto;
}

.columnXS {
  max-width: 100px;
  font-size: 12px;
}
