.section__schemes {
  margin-top: 150px;
}
.schemes__header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.schemes__header p {
  font-size: 16px;
  line-height: 2;
}

.schemes__title {
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* 96px - 48px*/
  letter-spacing: 10px;
  font-family: var(--font-accent), sans-serif;
  line-height: 80px;
  padding-bottom: 25px;
}

.schemes__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}

.schemes__card {
  display: block;
  position: relative;
  max-width: 260px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
      max-width: 100%;
    height: auto;
}

.schemes__card::before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  transition: all 0.2s ease-in;
}

.schemes__card-name {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-accent), sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in;
}

.schemes__card:hover .schemes__card-name {
  opacity: 1;
  top: 50%;
}

.schemes__card:hover::before {
  opacity: 1;
}

.schemes__card img {
  width: 100%;
  height: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .schemes__card-name {
    opacity: 1;
    top: 50%;
  }
  .schemes__card::before {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .schemes__card-name {
    font-size: 32px;
  }
  .schemes__grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 30px;
}
}

@media (max-width: 600px) {
  .schemes__card {
    border-radius: 10px;
  }
  .schemes__grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
}

@media (max-width: 400px) {
  .schemes__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 20px;
    margin: 0 auto;        
  }

}
