.footer {
  position: relative;
  padding: 70px 0;
  background-color: #1F2A42;
}

.footer a:hover {
  color: var(--accent);
}

.footer-socials {
  margin-bottom: 30px;
  display: flex;
  gap: 20px 50px;
  align-items: center;
}

.footer-contacts {
  display: flex;
  gap: 50px;
  font-size: 14px;
  line-height: 2;
}

.footer__datasheet-su a {
  padding: 0;
    display: inline-block;
  float: right;
}


@media (max-width: 600px) {
  .footer {
    padding: 50px 0;
  }
  .footer-socials {
    gap: 30px;
  }
  .footer-contacts {
    flex-direction: column;
    row-gap: 20px;
  }
}