
.datasheet {
  width: fluid(1300, 600);
}

.datasheet__header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.datasheet__header p {
  font-size: 16px;
  line-height: 2;
}

.datasheet__title {
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* 96px - 48px*/
  letter-spacing: 10px;
  font-family: var(--font-accent);
}

.datasheet__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px 30px;
}

.datasheet__card {
  display: block;
  position: relative;
  max-width: 260px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
}

.datasheet__card::before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  transition: all 0.2s ease-in;
}

.datasheet__card-name {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in;
}

.datasheet__card:hover .datasheet__card-name {
  opacity: 1;
  top: 50%;
}

.datasheet__card:hover::before {
  opacity: 1;
}

.datasheet__card img {
  width: 100%;
  height: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .datasheet__card-name {
    opacity: 1;
    top: 50%;
  }
  .datasheet__card::before {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .datasheet__card-name {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .datasheet__card {
    border-radius: 10px;
  }
}
