:root {
  --text: #284087;
  --muted: #e67777;
  --dots: #dda3a3;
}

.datasheet {
  width: fluid(1300, 600);
}

.datasheet__header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.datasheet__header p {
  font-size: 16px;
  line-height: 2;
}

.datasheet__title {
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem); /* 96px - 48px*/
  letter-spacing: 10px;
  font-family: var(--font-accent);
}

.datasheet__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px 30px;
}

.datasheet__card {
  display: block;
  position: relative;
  max-width: 260px;
  max-height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.datasheet__card::before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  transition: all 0.2s ease-in;
}

.datasheet__card-name {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in;
}

.datasheet__card:hover .datasheet__card-name {
  opacity: 1;
  top: 50%;
}

.datasheet__card:hover::before {
  opacity: 1;
}

.datasheet__card img {
  width: 100%;
  height: 100%;
}

//---------------------------------------------------------
.section-datasheet {
  height: 750px;
  display: flex;
  align-items: center;

  background-image: url(../../assets/images/i.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

.section-datasheet-title {
  margin-bottom: 10px;
  font-family: var(--font-accent), sans-serif;
  font-size: clamp(2.625rem, 1.875rem + 3.75vw, 4.688rem);
  font-weight: 900;

  letter-spacing: 3px;
}

.section-datasheet--title-h3 {
  font-size: 22px;
  color: rgb(215, 166, 131);
}
.section-datasheet-titleH3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

.section-datasheet-desc {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 2;
  color: #ffffff;
  font-weight: 300;
  font-family: var(--font-roboto), sans-serif;
}

.section-datasheet-desc p + p {
  margin-top: 1em;
}

.section-datasheet-desc p span {
  font-size: 20px;
}

.section-datasheet-btn-wrapper a {
  padding: 15px 30px;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.26em;
  line-height: 1;
  transition: background-color 0.2s ease-in;
  font-family: var(--font-accent), sans-serif;
}

.ruMC p {
  text-indent: 25px;
}

.ruMC table {
  max-width: 80%;
}

.ruMC--table__caption {
  font-family: 'Bebas Neue';
  font-size: 26px;
  color: #9bed0c;
}

.ruMC--img__box--2 {
  display: flex;
  gap: 25px;
}

.ruMC--img {
  background: #abbbc6;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  max-width: 60%;
}

.width-size-70 img {
  max-width: var(--width-size-70);
}
.width-size-50 img {
  max-width: var(--width-size-50);
}

.ruMC--img__text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 22px;
  color: #09c2f8;
}
.ruMC--table__line {
  text-align: center;
}
.table__cubTitle {
  font-size: 20px;
  text-align: center;
}

.ruMC--table__not {
  border-top: 2px solid #fff;
}

.ruMC--table {
  margin: 0 auto;
  border: 3px solid #fff;
  margin-top: 50px;
  margin-bottom: 15px;
  box-shadow: 15px 15px 0 0 #ed6742;
}

td {
  border: 1px solid #fff;
}

th {
  border: 3px solid #fff;
}

.ruMC--table__title,
.ruMC--table__cell {
  padding: 5px 10px;
}

.table__cubTitle {
  color: #d8ef29;
}

.ruMC--table__left {
  text-align: left;
  vertical-align: top;
}

.ruMC--table__note {
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 50px;
  font-size: 14px;
}

.ruMC--table__note--title {
  padding-right: 15px;
}

.ruMC--table__no {
  border-top: 2px solid #fff;
}

.ruMC--list__item {
  margin-left: 50px;
  list-style-type: circle;
}

.ruMC--list__item-2 {
  margin-left: 100px;
  list-style-type: square;
}
.ruMC--list {
  margin: 10px auto;
}

.ruMC--body,
.ruMC--link {
  text-indent: 0;
}

.columnXS {
  max-width: 100px;
  font-size: 12px;
}

.ruMC--text a {
  margin: 0 10px;
  color: #ed6742;
  cursor: pointer;
}

.specs {
  max-width: 700px;
  margin: 20px auto;
}

.specs__title {
  font-size: 24px;
  text-align: center;
  color: #afe2f2;
  -webkit-text-stroke: 2px rgba(57, 56, 56, 0.85);
  text-shadow:
    0 2px 6px rgba(176, 88, 88, 0.55),
    /* мягкая тень вниз */ 0 10px 24px rgba(219, 186, 186, 0.45),
    /* дальняя тень */ 0 0 18px rgba(146, 118, 118, 0.18); /* лёгкое свечение */
}

/* Строки с лидерами-точками */
.row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 12px;
  align-items: baseline;
}

.label,
.title {
  white-space: nowrap;
  color: #d8ef29;
}

.dots {
  border-bottom: 1px dotted var(--dots);
  transform: translateY(-2px);
}

.value {
  white-space: nowrap;
  color: var(--muted);
}

/* Вложенные строки (Uп1, Uп2) */
.indent {
  padding-left: 18px;
}

@media (max-width: 600px) {
  .section-datasheet {
    height: auto;
    padding: 100px 0;
  }
}

//----------------------------------------------------------

@media (hover: none) and (pointer: coarse) {
  .datasheet__card-name {
    opacity: 1;
    top: 50%;
  }
  .datasheet__card::before {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .datasheet__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 25px;
  }
}

@media (max-width: 1000px) {
  .datasheet__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 20px;
  }
}

@media (max-width: 800px) {
  .datasheet__card-name {
    font-size: 32px;
  }
  .datasheet__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    margin: 0 auto;
  }
  .datasheet__card {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .datasheet__card {
    border-radius: 10px;
  }
  .datasheet__card {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .datasheet__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 40px;
    margin: 0 auto;
  }
}
//
